* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: crimson;
    --cor2: #222326;
    --cor3: #3E5902;
    --cor4: #F2A74B;
    --cor5: #BF3617;
}

@font-face {
    font-family: 'secular';
    src: url('fonts/SecularOne-Regular.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    width: fit-content;

    padding: 7px;
    margin: 0px 5px;
    transition: 0.3s;
}

header {
    background-color: var(--cor2);
    color: white;

    padding: 15px;
}

header h1 {
    font-family: secular;

    font-size: 2.5em;

    text-shadow: var(--cor1) 0 5px;
}

header h2,
.login {
    position: absolute;
}

header h2 {
    left: 40px;
    font-size: 1.2em;
}

header .login {
    right: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

header button {
    color: white;
    background-color: transparent;
    font-weight: bolder;

    font-size: 1.1em;
}

header button:hover {
    background: var(--cor1);
    transform: scale(1.08);
}

header button:active {
    background-color: #dc143cc0;
}



.bg {
    background-image: url('assets/img4.jpg');
    background-position: center;
    background-size: cover;

    height: 55vh;
}

section {
    margin: auto;
}

.mainContent {
    background-color: var(--cor2);
    color: white;
    text-align: center;

    width: 100%;
    padding: 50px;

    box-shadow: inset #00000044 0 0 40px;
}

.welcome {
    font-size: 2em;
    margin-bottom: 40px;
}